*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.container{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

header{
	background: #222;
	height: 18vh;
	width: 100%;
	display: flex;
	position: relative;
}
.intro ul.nav{
	text-align: center;
	margin: 10px 0;
} 

.intro ul.nav li{
	display: inline-block;
} 
.intro ul.nav li a{
	text-decoration:none;
	padding: 4px 8px;
	display: block;
	border: 2px solid #222;
	border-radius: 20px;
	margin: 4px;
	color: #222;
	transition: 0.5s;

} 

.border-bottom{
	border-bottom: 1px solid #ddd;
	margin: 15px 0;
	padding-bottom : 15px;
}

.intro ul.nav li a.active, .intro ul.nav li a:hover{
	background: #222;
	color: #fff;
	transition: 0.5s;

} 

.header-face{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: absolute;
	bottom: -75px;
	margin-left: -75px;
	left: 50%;
	border: 3px solid #fff;
}

.intro{
	margin-top: 100px;
	text-align: center;
}

.intro p{
	color: #777;
}

.col{
	display: inline-block;
	float: left;
}

.col-8{
	width: 66.6666%;
}

.col-4{
	width: 33%;
}

.col-12{
	width: 100%;
}
.col-6{
	width: 50%;
}

.card{
	margin: 10px;
	padding: 10px;
}
.card-header{
	font-size: 14pt;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    text-align: left;
}
.card-body{
	text-align: justify;
	white-space: pre-line;
}
.text-center{
	text-align: center;
}

@media screen and (max-width: 768px){
	.col-4,.col-8,.col-6{
		width:100%;
	}
}

.form-control{
	width: 100%;
	padding: 8px;
	display: block;
	border: 2px solid #666;
	border-radius: 20px;
	margin: 7px 0px 15px 0px;
	box-sizing: border-box;

}

.form-group{
	overflow: hidden;
	padding: 2px;
}

.btn-submit{
	width: 100%;
	padding: 8px;
	display: block;
	border: 2px solid #666;
	border-radius: 20px;
	margin: 7px 0px 15px 0px;
	background: #222;
	color: #fff;
	transition: 0.5s;
	cursor: pointer;
}

.post{
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.listNone{
	list-style-type: none;
}

.iconGroup{
	width: 70px;
	/* margin : 0 auto; */
}

.text-center-width{
	text-align:center;
}

@media screen and (max-width: 720px){
	.text-center-width{
		text-align:left;
	}
}

